.float {
	&__inner {
		@apply flex h-full gap-8;
	}
	&__section-title {
		@apply sticky top-0 left-0 pb-8;
	}
	&__wrapper	{
		@apply flex sticky top-0 overflow-x-hidden h-screen py-9 px-8 flex-col;
	}
	&__inner-wrapper {
		@apply w-fit h-full;
	}
}

.float-item {
	$self: &;
	@apply min-w-[54vh] h-full px-8 pb-8 bg-primary text-background rounded-3xl flex flex-col justify-between overflow-hidden border;
	p {
		@apply m-0;
	}
	&:hover {
		#{ $self }__icon {
			@apply -translate-x-[0];
		}
	}
	&__text {
		@apply flex flex-col;
	}
	&__number {
		@apply w-[fit-content];
		font-family: "Right Grotesk";
		font-size: clamp(24px, 6.6vh, 64px);
	}
	&__cta {
		@apply flex justify-end;
	}
	&__icon {
		font-family: "Right Grotesk";
		font-size: clamp(24px, 12vh, 140px);
		@apply transform -translate-x-[100%] transition-transform duration-300 w-[fit-content] leading-[100%];
	}
	&__icon-wrap {
		@apply overflow-hidden;
	}
	&__title {
		@apply w-[fit-content] mt-0 leading-[110%];
		font-size: clamp(24px, 3.6vh, 34px);
	}
	&__tech {
		font-size: clamp(16px, 3.6vh, 24px);
		@apply w-[fit-content] mt-4;
	}
	&__inner {
		@apply flex h-full overflow-hidden;
	}
	&__thumb {
		@apply self-end overflow-hidden;
	}
}