@font-face {
	font-family: 'Neue Montreal';
	src: url('../../assets/fonts/PP Neue Montreal/PPNeueMontreal-Light.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Right Grotesk';
	src: url('../../assets/fonts/PP Radio Grotesk/PPRadioGrotesk-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}