body {
	@apply bg-background text-primary cursor-none;
	font-family: 'Neue Montreal', sans-serif;
	font-size: clamp(18px, calc(.5vw + .5vh + 1.5vmin - .2vmax), 32px);
	::selection {
		@apply bg-hightlight;
	}
	&.loading {
		@apply overflow-hidden;
	}
}

a {
	cursor: none;
}

p {
	@apply my-[1em];
}

h1 {
	@apply text-9xl;
	font-family: 'Right Grotesk', sans-serif;
}

.intro {
	@apply min-h-screen flex justify-end;
	&__title {
		@apply text-[13vw];
		font-family: 'Right Grotesk', sans-serif;
	}
}

.text-medium {
	font-size: clamp(20px, 2vw, 34px);
}