.main-nav {
	@apply bg-primary fixed top-0 left-[100%] z-10 w-[33vw] transition-all duration-1000 ease-in-out h-screen mix-blend-difference;
	&.is-active {
		left: calc(100% - 33vw);
	}
}

main {
	@apply relative transition-all duration-1000 ease-in-out left-0;
}

body.is-active {
	overflow: hidden;
	.main-nav {
		left: calc(100% - 33vw);
	}
	main {
		left: -33vw;
	}
}