@font-face {
  font-family: "Inconsolata-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Inconsolata-Regular.ttf");
}
@font-face {
  font-family: "Inconsolata-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Inconsolata-Bold.ttf");
}
