@tailwind base;
@tailwind components;
@tailwind utilities;

@import './app/_fonts.scss';
@import './app/_global.scss';
@import './app/_cursor.scss';
@import './app/_menu.scss';
@import './app/_works.scss';
@import './app/sticky-scroll.scss';
@import './app/_footer.scss';
@import './app/_float-section.scss';
@import './app/_article.scss';
@import './app/preloader.scss';
@import './app/work-table';
@import './app/_end.scss';

.text-container {
  @apply mx-auto;

  a {
    @apply border-b-2 border-primary;
  }

  h1 {
    font-size: clamp(24px, calc(4vw + 4vh + 2vmin - 0.2vmax), 165px);
  }

  p:last-of-type {
    @apply mb-0;
  }
}

.oh {
  @apply overflow-hidden;
}

.start {
  @apply p-6 pt-8 lg:p-8 flex flex-col min-h-screen;

  &-text {
    font-size: 2.5rem;
    font-size: clamp(
      2.5rem,
      -0.5714285714285712rem + 15.357142857142856vw,
      13.25rem
    );
  }
}

.circle {
  @apply flex-1 gap-4 flex flex-col justify-end relative;

  .circ-sun {
    // half circle
    @apply w-64 h-28 relative overflow-hidden;
    &:before {
      @apply absolute top-0 left-0 w-full h-64 bg-primary rounded-full;
      content: '';
    }
  }

  @for $i from 1 through 10 {
    .circ-child:nth-child(#{$i}) {
      // increment .1 times i flex basis
      flex: calc(0.01 * #{$i}) 1 0;
      @apply bg-primary sticky top-0;
    }
  }
}

.goodbye {
  .farewell {
    @apply mt-8;
  }
}
