@tailwind base;
@tailwind components;
@tailwind utilities;

@import './app/_fonts.scss';
@import './app/_global.scss';
@import './app/_cursor.scss';
@import './app/_menu.scss';
@import './app/_works.scss';
@import './app/sticky-scroll.scss';
@import './app/_footer.scss';
@import './app/_float-section.scss';
@import './app/_article.scss';
@import './app/preloader.scss';

.text-container {
	margin: 0 auto;
	a {
		@apply border-b-2 border-primary ;
	}
	h1 {
		font-size: clamp(24px, calc(4vw + 4vh + 2vmin - .2vmax), 165px);
	}
	p:last-of-type {
		@apply mb-0;
	}
}

.oh {
	@apply overflow-hidden;
}

.start {
	@apply p-8 h-screen flex items-end;
	&-text {
		font-size: clamp(24px, calc(14vw - 64px), 294px);
	}
}